/in/*
/out/*
.Rhistory
/manuscript/weighted likelihood PNAS 2019.aux
/manuscript/weighted likelihood PNAS 2019.bbl
/manuscript/weighted likelihood PNAS 2019.blg
/manuscript/weighted likelihood PNAS 2019.log
/manuscript/weighted likelihood PNAS 2019.out
/manuscript/weighted likelihood PNAS 2019.synctex.gz
/manuscript/weighted likelihood PNAS 2019.synctex(busy)
